extends ../layouts/page.pug

block title
  title Список пользователей

block header
  div.collapse.navbar-collapse.show
    ul
      li.nav-item
        h1= data.header
      li.nav-item
        h3 
          a(href= data.routes.mainPagePath()) На главную
      li.nav-item
        form(role = 'form' method = 'GET' action = data.routes.usersPath())
          input(type = 'search', name = 'term', value = term)
          input(type = 'submit' value = 'search')

block content
  if messages
    for message in messages
      .alert(class=`alert-${message.type}`)= message.message

  h3  
    a(href= data.routes.newUserPath()) Создать нового пользователя
  if data.users.length === 0
    p Пользователи не найдены
  else
    table.table.table-striped
      tr
        th Идентификатор пользователя
        th Имя пользователя
        th Емейл пользователя

      each user, index in data.users
        tr
          td
            a(href= data.routes.userPath(user.id)) #{user.id}
          td= user.username
          td= user.email
  h3 
    a(href= data.routes.mainPagePath()) Назад